<%- include('partials/navbar') %>

    <body>
        <div class="container">
            <div class="text-center">
                <h1 class="text-center">Hi, ADMIN</h1>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque repellendus ex
                    similique officiis possimus laborum id.
                </p>
            </div>
            <a href="/admin/manageData">
                <p>Manage Products</p>
            </a>
        </div>
    </body>