body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.submitbtn {
  width: 50%;
  margin-top: 24px;
  padding: 5px;
  border: none;
}
a {
  text-decoration: none;
}
.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-img {
  width: 60px;
  border-radius: 5px;
}
